/* = basic scrolling container
----------------------------------------------------------------------------- */
.scrolling {
	position: relative;
	overflow: hidden;
}

.scrolling-area {
	overflow: auto;
	width: inherit;
	height: inherit;
}

/* = bars
----------------------------------------------------------------------------- */
.scrolling .scrolling-bar {
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
}

.scrolling .scrolling-bar.scrolling-active,
.scrolling .scrolling-bar:hover {
	z-index: 1;
	background: rgba(0, 0, 0, .1);
}

.scrolling .scrolling-bar > span {
	display: block;
	cursor: pointer;
}

.scrolling .scrolling-bar.scrolling-x > span {
	min-width: 50px;
	height: 25px;
}

.scrolling .scrolling-bar.scrolling-y > span {
	min-height: 50px;
	width: 25px;
}

.scrolling .scrolling-bar > span > span {
	display: block;
	height: inherit;
}

.scrolling .scrolling-bar.scrolling-x > span > span {
	width: inherit;
}

.scrolling .scrolling-bar.scrolling-y > span > span {
	margin-left: auto;
	width: 15px;
}

.scrolling .scrolling-bar > span > span:before {
	position: absolute;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .25);
	content: '';
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.scrolling .scrolling-bar.scrolling-x > span > span:before {
	right: 5px;
	bottom: 0;
	left: 5px;
	height: 5px;
}

.scrolling .scrolling-bar.scrolling-y > span > span:before {
	top: 5px;
	right: 0;
	bottom: 5px;
	width: 5px;
}

.scrolling .scrolling-bar.scrolling-x:hover > span > span:before,
.scrolling .scrolling-bar.scrolling-x.scrolling-active > span > span:before {
	bottom: 5px;
	height: 15px;
}

.scrolling .scrolling-bar.scrolling-y:hover > span > span:before,
.scrolling .scrolling-bar.scrolling-y.scrolling-active > span > span:before {
	right: 5px;
	width: 15px;
}

.scrolling .scrolling-bar:hover > span > span:before {
	background: #333;
}

.scrolling .scrolling-bar.scrolling-active > span > span:before {
	background: #111;
}

.scrolling .scrolling-bar > span > span > .scrolling-label {
	position: relative;
	display: table-cell;
	height: inherit;
	color: transparent;
	vertical-align: middle;
	text-align: center;
	font-weight: lighter;
	font-size: .7em;
	font-family: arial, sans-serif;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-ms-transition: all 350ms ease-out;
	-o-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}

.scrolling .scrolling-bar.scrolling-x > span > span > .scrolling-label {
	padding-top: 25px;
	width: inherit;
}

.scrolling .scrolling-bar.scrolling-y > span > span > .scrolling-label {
	padding-left: 25px;
}

.scrolling .scrolling-bar.scrolling-active > span > span > .scrolling-label,
.scrolling .scrolling-bar:hover > span > span > .scrolling-label {
	padding: 0;
	color: #bbb;
	text-shadow: 0 0 10px #fff;
}

.scrolling .scrolling-bar > span > span > .scrolling-label strong {
	font-weight: bold;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.scrolling .scrolling-bar.scrolling-x > span > span > .scrolling-label > strong {
	margin-right: 3px;
	padding-right: 3px;
	border-right: 1px solid transparent;
}

.scrolling .scrolling-bar.scrolling-y > span > span > .scrolling-label > strong {
	display: block;
	margin-bottom: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
}

.scrolling .scrolling-bar.scrolling-active > span > span > .scrolling-label > strong,
.scrolling .scrolling-bar:hover > span > span > .scrolling-label > strong {
	border-color: #aaa;
	color: #ddd;
}
